<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Ingresar estudiante</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>
	
	<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
        <nav class="navbar navbar-dark bg-primary"> 
        <h2 style="color:#FFFFFF" align="center"> Editar estudiante con codigo  </h2>
        <h2 style="color:#FFFFFF" align="center" th:text="${estudiante.codigoEstudiante}"> </h2>
		</nav>
		</nav>
		<br>
		<br>
	<form th:action="@{/insertar}" th:object="${estudiante}" method="post">
		<input type="hidden" th:field="*{codigoEstudiante}"/>
		<label>Nombre</label>
		<input type="text" th:field="*{nombre}"><br>
		<span th:errors="*{nombre}" style="color: #FF0000;"></span><br>
		<label>Apellido</label>
		<input type="text" th:field="*{apellido}"><br>
		<span th:errors="*{apellido}" style="color: #FF0000;"></span><br>
		<label>Carne </label>
		<input type="text" th:field="*{carne}"><br>
		<span th:errors="*{carne}" style="color: #FF0000;"></span><br>
		<label>Carrera</label>
		<input type="text" th:field="*{carrera}"><br>
		<span th:errors="*{carrera}" style="color: #FF0000;"></span><br>
		
		<input type="submit" value="Guardar"/>
	</form>
	
	<br>
	<br>
	  
	
		</div>
    	</div>
    	
	<br>
	<br>
	<form th:action="@{/inicio}" method="post">	
		<input type="submit" value="Regresar"/>
	 </form>	
	
	
	
</body>
</html>